<?xml version="1.0" encoding="UTF-8"?>
<settings version="1">
  <section id="script.jellyfin.plex">
    <category id="server" label="30000">
      <group id="1">
        <setting id="servers" type="string" label="30001" help="">
          <level>2</level>
          <default></default>
          <control type="edit" format="string"/>
          <constraints>
            <options>hidden</options>
          </constraints>
        </setting>
        <setting id="active_server_id" type="string" label="30002" help="">
          <level>2</level>
          <default></default>
          <control type="edit" format="string"/>
          <constraints>
            <options>hidden</options>
          </constraints>
        </setting>
        <setting id="device_id" type="string" label="30005" help="">
          <level>2</level>
          <default></default>
          <control type="edit" format="string"/>
        </setting>
      </group>
    </category>
  </section>
</settings>
